*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-image: -moz-linear-gradient(#129656, #148360, #1a7256, #093326, #000000);
    background-image: -webkit-linear-gradient(#129656, #148360, #1a7256, #093326, #000000);
    background-image: -o-linear-gradient(#129656, #148360, #1a7256, #093326, #000000);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: auto;
    color:rgb(255, 223, 204);
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-family: 'PT Mono', monospace;
}

header{
    font-size: 40px;
    font-family: 'Syne Mono', monospace;
    height: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
}

/* ----------- Menu de navegação */
#menu{
    background-color: rgba(21, 46, 32, 0.411);
    text-align: center;
    min-height: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    white-space: nowrap;
    padding: 10px 50px 10px 50px;
    border: rgb(160, 149, 149) solid 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: #333 3px 4px 5px;
}

#menu::-webkit-scrollbar{
    width: 15px;
}
#menu::-webkit-scrollbar-track{
    border-radius: 10px;
}
#menu::-webkit-scrollbar-thumb {
    background-color: rgba(52, 61, 63, 0.712);
    border-radius: 10px;
    border: 3px solid transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#menu a{
    text-decoration: none;
    color:rgb(255, 223, 204);
    padding: 25px;
    display: inline-block;
}
#menu a:hover{
    color: rgb(255, 190, 152);
}

/* -------------- */

/* ----------- Container para conteudo principal*/
main{
    background-color: rgba(33, 51, 41, 0.247);
    min-height: 480px;
    padding: 60px;
    margin-top: 15px;
    border: rgb(160, 149, 149) solid 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgb(26, 25, 25) 3px 1px 5px;
}

/* ----------- Conteudo: To_index*/
#tomain{
    text-align: left;
}
#tomain a{
    text-decoration: none;
    color:rgb(250, 210, 187);
}
#tomain a:hover{
    color: rgb(255, 190, 152);
}

/* ----------- Conteudo: Read*/
#readmain{
    text-align: left;
}
.dim{
    font-size: 14px;
}
#readmain a{
    text-decoration: none;
    color:rgb(226, 178, 238);
}
#readmain a:hover{
    color: rgb(221, 214, 220);
}
.letter{
    background-image: url(../img/paper.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: local;
    color:rgb(0, 0, 0);
    padding: 60px;
    font-size: 20px;
    font-family: 'Homemade Apple', cursive;
}

/* ----------- Conteudo: Play*/
#playmain{
    text-align: left;
}

/* ----------- Conteudo: See*/
#seemain{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    white-space: nowrap;
    padding: 10px 40px 0px 0px;
}
#seemain::-webkit-scrollbar{
    width: 15px;
}
#seemain::-webkit-scrollbar-track{
    border-radius: 10px;
}
#seemain::-webkit-scrollbar-thumb {
    background-color: rgba(52, 61, 63, 0.712);
    border-radius: 10px;
    border: 3px solid transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#seemain::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#seemain img{
    width: 100%;
    height: auto;
    border: rgb(128, 109, 109) solid 1px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgb(26, 25, 25) 5px 4px 5px;
}

/* ----------- Conteudo: Remember*/
#remembermain{
    text-align: center;
    padding: 40px;
    margin-top: 15px;
}

/* 404*/
#notfound{
    text-align: center;
    padding: 40px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------- */

footer{
    clear: both;
    bottom: 0;
    font-size: 16px;
    height: 30px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.container{
    width: 90%;
    margin: auto;
}

#headergltch{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ----------- Glitch effect */
.glitch {
    position: relative;
    color: rgb(255, 237, 226);
    letter-spacing: 7px;
    animation: glitch-skew 0.5s infinite linear alternate-reverse;
}
.glitch::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #df6bc2;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
    0% {
        clip: rect(30px, 9999px, 42px, 0);
        transform: skew(0.85deg);
    }
    5% {
        clip: rect(59px, 9999px, 21px, 0);
        transform: skew(0.34deg);
    }
    10% {
        clip: rect(99px, 9999px, 15px, 0);
        transform: skew(0.01deg);
    }
    15% {
        clip: rect(25px, 9999px, 61px, 0);
        transform: skew(0.97deg);
    }
    20% {
        clip: rect(35px, 9999px, 42px, 0);
        transform: skew(0.94deg);
    }
    25% {
        clip: rect(39px, 9999px, 62px, 0);
        transform: skew(0.31deg);
    }
    30% {
        clip: rect(62px, 9999px, 55px, 0);
        transform: skew(0.9deg);
    }
    35% {
        clip: rect(36px, 9999px, 31px, 0);
        transform: skew(0.13deg);
    }
    40% {
        clip: rect(27px, 9999px, 26px, 0);
        transform: skew(0.01deg);
    }
    45% {
        clip: rect(55px, 9999px, 9px, 0);
        transform: skew(0.5deg);
    }
    50% {
        clip: rect(69px, 9999px, 73px, 0);
        transform: skew(0.85deg);
    }
    55% {
        clip: rect(53px, 9999px, 89px, 0);
        transform: skew(0.15deg);
    }
    60% {
        clip: rect(20px, 9999px, 28px, 0);
        transform: skew(0.62deg);
    }
    65% {
        clip: rect(81px, 9999px, 28px, 0);
        transform: skew(0.1deg);
    }
    70% {
        clip: rect(54px, 9999px, 93px, 0);
        transform: skew(0.3deg);
    }
    75% {
        clip: rect(22px, 9999px, 6px, 0);
        transform: skew(0.84deg);
    }
    80% {
        clip: rect(23px, 9999px, 5px, 0);
        transform: skew(0.55deg);
    }
    85% {
        clip: rect(24px, 9999px, 76px, 0);
        transform: skew(0.68deg);
    }
    90% {
        clip: rect(3px, 9999px, 29px, 0);
        transform: skew(0.48deg);
    }
    95% {
        clip: rect(43px, 9999px, 95px, 0);
        transform: skew(0.37deg);
    }
    100% {
        clip: rect(58px, 9999px, 66px, 0);
        transform: skew(0.05deg);
    }
}
@keyframes glitch-anim2 {
    0% {
        clip: rect(66px, 9999px, 28px, 0);
        transform: skew(0.12deg);
    }
    5% {
        clip: rect(85px, 9999px, 40px, 0);
        transform: skew(0.7deg);
    }
    10% {
        clip: rect(14px, 9999px, 33px, 0);
        transform: skew(0.81deg);
    }
    15% {
        clip: rect(48px, 9999px, 76px, 0);
        transform: skew(0.57deg);
    }
    20% {
        clip: rect(77px, 9999px, 16px, 0);
        transform: skew(0.4deg);
    }
    25% {
        clip: rect(15px, 9999px, 43px, 0);
        transform: skew(0.27deg);
    }
    30% {
        clip: rect(33px, 9999px, 11px, 0);
        transform: skew(0.84deg);
    }
    35% {
        clip: rect(50px, 9999px, 51px, 0);
        transform: skew(0.16deg);
    }
    40% {
        clip: rect(52px, 9999px, 11px, 0);
        transform: skew(0.21deg);
    }
    45% {
        clip: rect(39px, 9999px, 58px, 0);
        transform: skew(0.98deg);
    }
    50% {
        clip: rect(88px, 9999px, 42px, 0);
        transform: skew(0.42deg);
    }
    55% {
        clip: rect(98px, 9999px, 11px, 0);
        transform: skew(0.51deg);
    }
    60% {
        clip: rect(73px, 9999px, 73px, 0);
        transform: skew(0.81deg);
    }
    65% {
        clip: rect(82px, 9999px, 59px, 0);
        transform: skew(1deg);
    }
    70% {
        clip: rect(64px, 9999px, 84px, 0);
        transform: skew(0.94deg);
    }
    75% {
        clip: rect(41px, 9999px, 44px, 0);
        transform: skew(0.38deg);
    }
    80% {
        clip: rect(23px, 9999px, 35px, 0);
        transform: skew(0.54deg);
    }
    85% {
        clip: rect(20px, 9999px, 100px, 0);
        transform: skew(0.76deg);
    }
    90% {
        clip: rect(9px, 9999px, 96px, 0);
        transform: skew(0.64deg);
    }
    95% {
        clip: rect(29px, 9999px, 82px, 0);
        transform: skew(0.47deg);
    }
    100% {
        clip: rect(15px, 9999px, 94px, 0);
        transform: skew(0.76deg);
    }
}
@keyframes glitch-skew {
    0% {
        transform: skew(2deg);
    }
    10% {
        transform: skew(4deg);
    }
    20% {
        transform: skew(4deg);
    }
    30% {
        transform: skew(-2deg);
    }
    40% {
        transform: skew(4deg);
    }
    50% {
        transform: skew(2deg);
    }
    60% {
        transform: skew(-3deg);
    }
    70% {
        transform: skew(-1deg);
    }
    80% {
        transform: skew(-3deg);
    }
    90% {
        transform: skew(-2deg);
    }
    100% {
        transform: skew(-2deg);
    }
}
/* -------------- */


